:root {
  --primary-dark: #3a628a;
  --background-color: #f2f4f7;
  --card-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.login-card {
  width: 400px;
  background: #ffffff;
  padding: 35px 40px;
  border-radius: 18px;
  box-shadow: var(--card-shadow);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  color: #333;
}

.login-card .alert-danger {
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-card .form-group {
  display: flex;
  align-items: center;
}

.login-card label {
  font-weight: 600;
  width: 80px;
}

.login-card .form-control {
  height: 45px;
  border-radius: 10px;
  flex-grow: 1;
  margin-left: 15px;
}

.login-card button[type="submit"] {
  background-color: var(--primary-dark);
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.2s;
  width: 100%;
}

.login-card button[type="submit"]:hover {
  opacity: 0.9;
}

.login-error-message {
  border-radius: 10px !important;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  padding: 12px 15px;

  font-weight: 500;
}

.login-error-message .error-icon {
  font-size: 1.2em;
  margin-right: 10px;
}
